.Dietcontainer {
  background-image: url("../images/bghome.jpg");
  padding-top: 4rem;
  min-height: 100vh;
  padding-bottom: 2em;
  /* min-width: 100%; */
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* align-items: center; */
  justify-content: center;
  display: flex;
}
