.Conatiner1 {
  background-image: url("../images/bghome.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.TextSection {
  padding-top: 60px;
  margin-top: 60px;
}

.Box {
  align-items: center;
}

