.Box1 {
  padding: 10px;
  width: 70%;
  background-color: white;
  margin: auto;
  /* margin-top:20px; */
  border: 5px solid orange;
  border-radius: 20px;
}
.Box2 {
  margin: auto;
  margin-top: 20px;
}
.CircularBox {
  margin: auto;
}
