<!DOCTYPE html>
<html lang="en">
  <!-- Headers -->

  <head>
    <title>Diet Planner</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CDN CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Navbar -->
    <nav
      class="mb-5 navbar navbar-expand-lg bg-body-tertiary"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Diet Planner</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Form -->
    <div class="container-fluid">
      <form method="post" action="/generate_diet">
        <div class="mb-3">
          <label for="height" class="form-label">Your height:</label>
          <input
            type="number"
            name="height"
            required
            class="form-control"
            id="height"
            placeholder="Your height in centimeters"
          />
        </div>
        <div class="mb-3">
          <label for="weight" class="form-label">Your weight:</label>
          <input
            type="number"
            name="weight"
            required
            class="form-control"
            id="weight"
            placeholder="Your weight in kilograms"
          />
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Your age:</label>
          <input
            type="number"
            name="age"
            required
            class="form-control"
            id="age"
            placeholder="Your age in years"
          />
        </div>

        <div class="gender-container">
          <label class="from-label me-4">Your gender:</label>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="male"
              name="gender"
              type="radio"
              value="male"
            />
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="female"
              name="gender"
              type="radio"
              value="female"
            />
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>

        <div class="physical-activity-container mt-2">
          <label class="from-label me-4">Your physical activity level:</label>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="sedentary"
              name="physical-activity"
              type="radio"
              value="sedentary"
            />
            <label class="form-check-label" for="sedentary"
              >Sedentary (little or no exercise)</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="light-activity"
              name="physical-activity"
              type="radio"
              value="light"
            />
            <label class="form-check-label" for="light-activity"
              >Lightly active</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="moderate-activity"
              name="physical-activity"
              type="radio"
              value="moderate"
            />
            <label class="form-check-label" for="moderate-activity"
              >Moderately active</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="active"
              name="physical-activity"
              type="radio"
              value="active"
            />
            <label class="form-check-label" for="active"
              >Regularly active</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              id="very-active"
              name="physical-activity"
              type="radio"
              value="very-active"
            />
            <label class="form-check-label" for="very=active"
              >Very active</label
            >
          </div>
        </div>
        <div class="mt-4 d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <!-- Bootstrap CDN JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
